html,
body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.row {
  /* outline: 1px solid #ff0000;
  outline-offset: -2px; */
  display: flex;
  flex-direction: row;
}

.top-row {
  flex: 1;
  height: calc(100vh - 180px);
  /* margin-bottom: 8px; */
}

.bottom-row {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;

}

.column {
  /* outline: 1px solid #ff00ff;
  outline-offset: -8px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.column.column-1,
.column.column-2 {
  /* outline: 1px red solid; */
  /* outline-offset: 2px; */
  height: calc(100vh - 108px);
  width: fit-content;
}


.column.column-2 {
  /* outline: 1px green solid; */
  /* outline-offset: -2px; */
  display: flex;
  align-items: center;
  width: 100%;
}

.column.column-3 {
  width: 100%;
}

.main-content {
  /* outline: 1px green solid; */
  /* outline-offset: -2px; */
  overflow-y: scroll;
  margin: 12px 8px 0 12px;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);

}

@media (prefers-color-scheme: light) {
  body {
    background-image:
      radial-gradient(farthest-corner circle at 50% 0% in oklch,
        oklch(100% 0 0) 0%, 80%, oklch(95% 0 0) 100%);
  }

  .app-container {
    background-image:
      radial-gradient(farthest-corner circle at 50% 0% in oklch,
        oklch(100% 0 0) 0%, 80%, oklch(94% 0 0) 100%);
  }

  .main-content {
    border-radius: 12px;
    box-shadow: 0 4px 10px oklch(0% 0 0/5%);
    -webkit-box-shadow: 0 4px 10px oklch(0% 0 0/5%);
    border: 1px solid rgba(21, 21, 21, 0.05);
    background-image: radial-gradient(farthest-corner circle at 100% 0% in oklch,
        oklch(99.5% 0 0) 0%, 75%, oklch(98% 0 0) 100%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: oklch(0% 0 0);
    color: oklch(100% 0 0);
  }

  .app-container {
    background-image:
      radial-gradient(farthest-corner circle at 50% 0% in oklch,
        oklch(0% 0 0) 0%, 80%, oklch(2% 0 0) 100%);
  }

  .main-content {
    border-radius: 12px;
    box-shadow: 0 4px 10px oklch(0% 0 0/5%);
    border: 1px solid rgba(21, 21, 21, 0.05);
    background-image:
      radial-gradient(farthest-corner circle at 100% 0% in oklch,
        oklch(18.22% 0 0) 0%, 75%, oklch(18.22% 0 0/85%) 100%);
  }
}